/***********************************/
/*           HEADER                */
/***********************************/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #ffd8a8;
  padding: 0 4.8rem;

  /* Fixed HEIGHT because later header 
  will be used as a stiky element */
  height: 8rem;
}

.logo-img {
  height: 6.4rem;
}

.logo-box {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.logo-info {
  height: 6.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.logo-info p:nth-child(1) {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fd7e14;
}

.logo-info p:nth-child(2) {
  font-size: 1.8rem;
  font-weight: 600;
  color: #1c7ed6;
}
/***********************************/
/*          NAVIGATION             */
/***********************************/
.nav-box {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  padding: 0.8rem 1.2rem;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fd7e14;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

/* SIGN-IN Button ============= */
.btn-sign-in {
  border: none;
  background: none;
  border-radius: 0.8rem;
}

.sign-in-link {
  display: block;
  text-decoration: none;
  background-color: #ffe8cc;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fd7e14;
  transition: all 0.3s;
}

.sign-in-link:hover {
  color: #cf711f;
  background-color: #fff4e6;
}

/***********************************/
/*          HOME Section           */
/***********************************/
.home-section {
  height: fit-content;
  background-color: #fff4e6;
  background-size: cover;
  padding: 3.2rem 4.8rem 4.8rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;

  align-items: center;
  justify-content: center;
}

.home-img {
  width: 100%;
  height: auto;
}

.home-tex-box p:last-child {
  margin-bottom: 0;
}

/***********************************/
/*         FOOTER Section          */
/***********************************/
.footer {
  height: 6.4rem;
  background-color: #90ccff;
  font-size: 2.4rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
}
